@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald:wght@500&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Oswald:wght@500&family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
header ul {
  text-align: center;
  align-items: flex-start;
}
header ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
  margin: 16px;
  text-decoration: solid;
  background-color: transparent;
}
header ul li .nav-link {
  background-color: transparent;
  color: #14150a;
  padding: 15px;
  font-size: 1.9rem;
  text-decoration: solid;
  font-family: initial;
  font-weight: bold;
}
header ul li .nav-link:hover {
  background-color: rgba(186, 57, 113, 0.7764705882);
  transition: 0.2s;
  border: 3px solid rgba(218, 158, 28, 0.5058823529);
  text-decoration: solid;
  border-radius: 5px;
}

img.logo {
  display: flex;
  height: fit-content;
  height: 10rem;
  width: 10rem;
  justify-content: space-between;
  align-self: flex-start;
  border-radius: 15px;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 17px;
  padding: 25px 9px 9px 9px;
  width: 95%;
}
footer .icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 80%;
}
footer .copiright {
  justify-content: flex-end;
  margin-top: 35px;
  padding-top: 35px;
}

.pie-pagina {
  justify-content: space-between;
  background-color: #e2d1d1;
  align-content: flex-end;
}

html {
  background-color: #edbfc6;
}

body {
  background-color: #edbfc6;
  margin: 10px;
  padding: 10px;
}

main {
  background-color: #edbfc6;
}

.titulos {
  color: rgb(211, 36, 170);
  background-color: #edbfc6;
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px;
  margin: 35px;
  text-align: center;
  text-decoration: 5px solid;
}

h1 {
  background-color: #edbfc6;
  color: #b90f5c;
  padding: 15px 15px 20px 20px;
  margin: 15px 15px 25px 15px;
  text-align: center;
  text-decoration: 2px solid;
  font-family: "Dancing Script", cursive;
  font-size: 75px;
  font-weight: bold;
}

.col {
  margin-bottom: 25px;
}
.col .card {
  gap: 25px;
  background-color: #b5b5b5;
}
.col .card .card-body {
  background-color: #b5b5b5;
}
.col .card .card-body .card-text {
  text-align: center;
}
.col .card h3 {
  color: rgba(174, 32, 32, 0.8431372549);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 1.6rem;
  text-align: center;
  margin: 15px 10px 25px 10px;
}
.col .card img {
  height: 37rem;
  object-fit: cover;
}
.col .card footer {
  background-color: #b5b5b5;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 15px;
}

.carteras .col {
  margin-bottom: 25px;
}
.carteras .col .card {
  gap: 15px;
  background-color: #b5b5b5;
}
.carteras .col .card .card-body {
  background-color: #b5b5b5;
}
.carteras .col .card .card-body .card-text {
  text-align: center;
}
.carteras .col .card h3 {
  color: rgba(174, 32, 32, 0.8431372549);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 1.6rem;
  text-align: center;
  margin: 15px 10px 25px 10px;
}
.carteras .col .card img {
  height: 35rem;
  object-fit: cover;
}
.carteras .col .card footer {
  background-color: #b5b5b5;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 15px;
}

.container-contact {
  display: block;
  margin: 15px 35px 25px 35px;
  width: 90rem;
}
.container-contact p {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container-contact .btn {
  margin: 25px 15px 15px 15px;
  background-color: rgb(197, 6, 6);
  height: 4rem;
  width: 5.5rem;
  font-size: 1.4rem;
}
.container-contact .form-group {
  color: black;
  font-size: 1.5rem;
}

main .animacion {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #edbfc6;
  margin-bottom: 35px;
}
main .animacion .caja {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(5, 124, 124, 0.66);
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  transform: translateX(0%);
}
main .animacion .caja img {
  width: 40%;
}
main .animacion .caja__body {
  padding: 10px;
}
main .p__index {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  color: rgb(27, 16, 18);
  font-weight: bold;
}
main .imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 100%;
  object-fit: cover;
  gap: 25px;
  margin: 10px 10px 15px 15px;
  padding: 10px;
}
main .imagenes .parrafo {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}
main .imagenes .caja1 {
  height: 400px;
  width: 90%;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
main .imagenes .caja1:hover {
  height: 600px;
  width: 100%;
  transition: all 1s;
}
main .imagenes .caja1 img {
  width: 90%;
  height: 400px;
  object-fit: contain;
  gap: 15px;
}
main .videos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 17rem;
  width: 100%;
  object-fit: fill;
}
main .videos .parrafo-video {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}
main .videos iframe {
  width: 100%;
  height: 100%;
}
main .logo img {
  width: 5px;
  height: 5px;
  object-fit: cover;
  border-radius: 5px;
}

@keyframes animacion {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
  }
}
.libros .col {
  margin-bottom: 25px;
}
.libros .col .card {
  gap: 15px;
  background-color: #b5b5b5;
}
.libros .col .card .card-body {
  background-color: #b5b5b5;
}
.libros .col .card .card-body .card-text {
  text-align: center;
}
.libros .col .card h3 {
  color: rgba(174, 32, 32, 0.8431372549);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 1.6rem;
  text-align: center;
  margin: 15px 10px 25px 10px;
}
.libros .col .card img {
  height: 30rem;
  object-fit: cover;
}
.libros .col .card footer {
  background-color: #b5b5b5;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 25px;
}

.mantas .col {
  margin-bottom: 25px;
}
.mantas .col .card {
  gap: 15px;
  background-color: #b5b5b5;
}
.mantas .col .card .card-body {
  background-color: #b5b5b5;
}
.mantas .col .card .card-body .card-text {
  text-align: center;
}
.mantas .col .card h3 {
  color: rgba(174, 32, 32, 0.9647058824);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 1.6rem;
  text-align: center;
  margin: 15px 10px 25px 10px;
}
.mantas .col .card img {
  height: 35rem;
  object-fit: cover;
}
.mantas .col .card footer {
  background-color: #b5b5b5;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 15px;
}

@media (min-width: 420px) and (max-width: 576px) {
  header .logo {
    height: 7rem;
    width: 7rem;
  }
  header ul li {
    padding: 5px;
    margin: 6px;
  }
  header ul li .nav-link {
    padding: 3px;
    font-size: 0.9rem;
  }
  main h1 {
    padding: 5px 5px 15px 5px;
    margin: 5px 5px 5px 5px;
    text-decoration: 1px solid;
    font-size: 45px;
  }
  main .animacion {
    width: 100%;
    height: 401px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #edbfc6;
    margin-bottom: 35px;
  }
  main .animacion .caja {
    width: 100%;
    height: 310px;
  }
  main .animacion .caja img {
    width: 50%;
  }
  main .animacion .caja__body {
    height: 165px;
  }
  main .animacion .caja__body .p__index {
    font-size: 15px;
  }
  main .imagenes {
    height: 85rem;
    width: 100%;
    gap: 1px;
    margin: 7px 4px 6px 10px;
    padding: 1px;
    flex-direction: column-reverse;
  }
  main .imagenes .caja1 {
    height: 500px;
  }
  main .videos {
    flex-direction: column;
    gap: 50px;
    height: 60rem;
    width: 100%;
    object-fit: fill;
  }
  main .videos .parrafo-video {
    margin: 15px 10px;
  }
  footer {
    margin: 9px;
    padding: 11px 9px 9px 9px;
    width: 100%;
  }
  footer .copiright p {
    margin-bottom: 0;
  }
}
@media (min-width: 577px) and (max-width: 731px) {
  header ul li {
    padding: 10px;
    margin: 11px;
  }
  header ul li .nav-link {
    padding: 4px;
    font-size: 1.2rem;
  }
  main h1 {
    padding: 5px 5px 15px 5px;
    margin: 5px 5px 5px 5px;
    text-decoration: 1px solid;
    font-size: 45px;
  }
  main .animacion {
    width: 100%;
    height: 401px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #edbfc6;
    margin-bottom: 35px;
  }
  main .animacion .caja {
    width: 100%;
    height: 310px;
  }
  main .animacion .caja img {
    width: 50%;
  }
  main .animacion .caja__body {
    height: 165px;
  }
  main .animacion .caja__body .p__index {
    font-size: 20px;
  }
  main .imagenes {
    height: 85rem;
    width: 100%;
    gap: 1px;
    margin: 7px 4px 6px 10px;
    padding: 1px;
    flex-direction: column-reverse;
  }
  main .imagenes .caja1 {
    height: 500px;
  }
  main .videos {
    margin-left: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    height: 60rem;
    width: 70%;
    object-fit: fill;
  }
  footer {
    margin: 9px;
    padding: 11px 9px 9px 9px;
    width: 100%;
  }
  footer .copiright p {
    margin-bottom: 0;
  }
}
@media (min-width: 731px) and (max-width: 992px) {
  header ul li {
    padding: 10px;
    margin: 11px;
  }
  header ul li .nav-link {
    padding: 4px;
    font-size: 1.2rem;
  }
  main h1 {
    font-size: 55px;
  }
  main .animacion {
    width: 100%;
    height: 401px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #edbfc6;
    margin-bottom: 35px;
  }
  main .animacion .caja {
    width: 100%;
    height: 310px;
  }
  main .animacion .caja img {
    width: 50%;
  }
  main .animacion .caja__body {
    height: 165px;
  }
  main .animacion .caja__body .p__index {
    font-size: 20px;
  }
  main .imagenes {
    height: 85rem;
    width: 100%;
    gap: 1px;
    margin: 7px 4px 6px 10px;
    padding: 1px;
    flex-direction: column-reverse;
  }
  main .imagenes .caja1 {
    height: 500px;
  }
  main .videos {
    margin-left: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    height: 60rem;
    width: 70%;
    object-fit: fill;
  }
  footer {
    margin: 9px;
    padding: 11px 9px 9px 9px;
    width: 100%;
  }
  footer .copiright p {
    margin-bottom: 0;
  }
}
/*titulo en cada una de las paginas*/
.grilla {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 15px;
  border-radius: 15px;
  background-color: #edbfc6;
  grid-template-areas: "area1 area2 area3 area4" "area5 area6 area7 area8" "area9 area10 area11 area12";
  justify-items: center;
}

.caja {
  width: 95%;
  height: 300px;
  background-color: #96b1a7;
  color: #060505;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid rgb(7, 4, 25);
  box-shadow: 5px 5px 7px 0px #7e7878;
}

.caja-content {
  justify-content: center;
}

.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

h2 {
  font-size: 25px;
  color: #171414;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card-description {
  overflow: hidden;
}

h3 {
  font-size: 20px;
  color: #2b0808;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: cursive;
  margin: 15px;
  padding: 15px;
}

.c1 {
  grid-area: area1;
  display: flex;
}

.c1 img {
  width: 70%;
}

.c1 div {
  padding: 10px;
  width: 30%;
}

.c2 {
  grid-area: area2;
}

.c2 img {
  width: 70%;
}

.c2 div {
  padding: 10px;
  width: 30%;
}

.c3 {
  grid-area: area3;
}

.c3 img {
  width: 70%;
}

.c3 div {
  padding: 10px;
  width: 30%;
}

.c4 {
  grid-area: area4;
}

.c4 img {
  width: 70%;
}

.c4 div {
  padding: 10px;
  width: 30%;
}

.c5 {
  grid-area: area5;
}

.c5 img {
  width: 70%;
}

.c5 div {
  padding: 10px;
  width: 30%;
}

.c6 {
  grid-area: area6;
}

.c6 img {
  width: 70%;
}

.c6 div {
  padding: 10px;
  width: 30%;
}

.c7 {
  grid-area: area7;
}

.c7 img {
  width: 70%;
}

.c7 div {
  padding: 10px;
  width: 30%;
}

.c8 {
  grid-area: area8;
}

.c8 img {
  width: 70%;
}

.c8 div {
  padding: 10px;
  width: 30%;
}

.c9 {
  grid-area: area9;
}

.c9 img {
  width: 70%;
}

.c9 div {
  padding: 10px;
  width: 30%;
}

.c10 {
  grid-area: area10;
}

.c10 img {
  width: 70%;
}

.c10 div {
  padding: 10px;
  width: 30%;
}

.c11 {
  grid-area: area11;
}

.c11 img {
  width: 70%;
}

.c11 div {
  padding: 10px;
  width: 30%;
}

.c12 {
  grid-area: area12;
}

.c12 img {
  width: 70%;
}

.c12 div {
  padding: 10px;
  width: 30%;
}

.tamaño-iconos {
  height: 19px;
  width: 19px;
  color: rgb(91, 44, 0);
}



/*# sourceMappingURL=style.css.map */
