main {
  .card__index {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    background-color: #edbfc6;
    grid-template-areas: "area1" "area2" "area3";
    justify-items: center;
    border: none;
    object-fit: cover;

    .c1 {
      grid-area: area1;
    }

    .c1 img {
      width: 100%;
    }

    .c2 {
      grid-area: area2;
    }

    .c2 img {
      width: 100%;
    }

    .c3 {
      grid-area: area3;
    }

    .c3 img {
      width: 100%;
    }
  }

  .animacion {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $main-color;
    margin-bottom: 35px;

    .caja {
      width: 80%;
      height: 300px;
      @include flex(left, center, 2px);
      background-color: rgba(5, 124, 124, 0.66);
      animation-name: animacion;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 2.5s;
      transform: translateX(0%);

      img {
        width: 40%;
      }

      &__body {
        padding: 10px;
      }
    }
  }

  .p__index {
    font-size: 1.5rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    color: rgb(27, 16, 18);
    font-weight: bold;
  }
  .imagenes {
    @include flex(center, center, 25px);
    height: 35rem;
    width: 100%;
    object-fit: cover;
    margin: 10px 10px 15px 15px;
    padding: 10px;

    .parrafo {
      font-size: 1.5rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      text-align: center;
      text-decoration: none;
      color: crimson;
      font-weight: bold;
    }

    .caja1 {
      height: 400px;
      width: 90%;
      gap: 15px;
      align-items: center;
      justify-content: center;

      
      img {
        width: 90%;
        height: 400px;
        object-fit: cover;
       
      }
    }
  }

  .videos {
    @include flex(space-between, center, 20px);
    height: 13rem;
    width: 100%;
    object-fit: cover;

    .parrafo-video {
      font-size: 1.4rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      text-align: center;
      text-decoration: none;
      color: crimson;
      font-weight: bold;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .logo {
    img {
      width: 5px;
      height: 5px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

@keyframes animacion {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }

  100% {
    opacity: 1;
  }
}
