.carousel-index {
  display: flex;
  justify-content: center;
  gap: 45px;

  #carouselExample {
    height: 700px;
    width: 1100px;
  }
  
  .carousel-item {
    height: 700px;
    width: 1100px;
    object-fit: cover;

    img {
        height: 700px;
        width: 1100px;
        object-fit: cover;
        object-position: center;
      }
  }

  
}

