@media (min-width: 290px) and (max-width: 349px) {
  header {
    .logo {
      height: 3.5rem;
      width: 3.5rem;
    }
    ul li {
      padding: 3px;
      margin: 4px;

      .nav-link {
        padding: 1px;
        font-size: 0.7rem;
      }
    }
  }
  //index
  main {
    h1 {
      padding: 2px 2px 8px 2px;
      margin: 2px 2px 25px 2px;
      text-decoration: 0.4px;
      font-size: 34px;
    }
    .animacion {
      width: 100%;
      height: 280px;
      margin-bottom: 25px;

      .caja {
        width: 100%;
        height: 270px;
        align-items: center;

        img {
          width: 50%;
        }

        &__body {
          height: 220px;
          align-items: center;

          .p__index {
            font-size: 14px;
          }
        }
      }
    }

    .imagenes {
      height: 64rem;
      width: 100%;
      gap: 29px;
      margin: 6px 3px 5px 9px;
      padding: 1px;
      flex-direction: column-reverse;

      .parrafo {
        font-size: 1.2rem;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        text-align: center;
        text-decoration: none;
        color: crimson;
        font-weight: bold;
      }

      .caja1 {
        height: 250px;
      }
    }
    .videos {
      flex-direction: column;

      gap: 40px;
      height: 55rem;
      width: 100%;
      object-fit: fill;

      .parrafo-video {
        margin: 13px 8px;
        font-size: 1.2rem;
      }
    }
  }
  footer {
    margin: 5px;
    padding: 2px 2px 2px 2px;
    width: 100%;
    .copiright {
      p {
        font-size: 7px;
        margin-bottom: 0;
      }
    }
  }
  //pagina contacto
  .main__contact {
    height: 45rem;
    width: 90%;
  }
  .container-contact {
    margin: 4px 4px 12px 4px;
    width: 17rem;
    padding: 4px;

    p {
      font-size: 0.8rem;
    }
    .form-group {
      font-size: 0.8rem;
    }

    .btn {
      font-size: 0.8rem;
      height: 2.5rem;
      width: 3.8rem;
    }
  }
  //reset imagenes paginas
  .col {
    .card {
      gap: 3px;

      img {
        height: 18rem;
      }
    }
  }
}

@media (min-width: 350px) and (max-width: 576px) {
  header {
    .logo {
      height: 4rem;
      width: 4rem;
    }
    ul li {
      padding: 4px;
      margin: 5px;

      .nav-link {
        padding: 2px;
        font-size: 0.8rem;
      }
    }
  }
  //index
  main {
    h1 {
      padding: 3px 3px 10px 3px;
      margin: 3px 3px 3px 3px;
      text-decoration: 0.5px;
      font-size: 35px;
    }
    .animacion {
      width: 100%;
      height: 400px;
      margin-bottom: 30px;

      .caja {
        width: 100%;
        height: 300px;
        align-items: center;

        img {
          width: 55%;
        }

        &__body {
          height: 212px;
          align-items: center;

          .p__index {
            font-size: 15px;
          }
        }
      }
    }

    .imagenes {
      height: 69rem;
      width: 85%;
      gap: 24px;
      margin: 7px 4px 6px 10px;
      padding: 1px;
      flex-direction: column-reverse;

      .caja1 {
        height: 400px;
      }
    }
    .videos {
      flex-direction: column;

      gap: 50px;
      height: 73rem;
      width: 100%;
      object-fit: fill;

      .parrafo-video {
        margin: 15px 10px;
      }
    }
  }
  footer {
    margin: 6px;
    padding: 3px 3px 3px 3px;
    width: 100%;
    .copiright {
      p {
        font-size: 8px;
        margin-bottom: 0;
      }
    }
  }
  //pagina contacto
  .main__contact {
    height: 50rem;
    width: 90%;
  }
  .container-contact {
    margin: 5px 5px 15px 5px;
    width: 20rem;
    padding: 5px;

    p {
      font-size: 1rem;
    }
    .form-group {
      font-size: 1rem;
    }

    .btn {
      font-size: 1rem;
      height: 3rem;
      width: 4rem;
    }
  }
  //reset imagenes paginas
  .col {
    .card {
      gap: 4px;

      img {
        height: 25rem;
      }
    }
  }
}

@media (min-width: 411px) and (max-width: 576px) {
  main {
    .caja1 {
      height: 380px;
    }
  }
  .main__contact {
    height: 50rem;
    width: 100%;

    .container-contact {
      margin: 5px 5px 15px 5px;
      width: 27rem;
      padding-right: 10px;

      p {
        font-size: 1rem;
      }
      .form-group {
        font-size: 1rem;
      }

      .btn {
        font-size: 1rem;
        height: 3rem;
        width: 4rem;
      }
    }
  }
  //reset imagenes paginas
  .col {
    .card {
      gap: 6px;

      img {
        height: 38rem;
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 731px) {
  header {
    ul li {
      padding: 10px;
      margin: 11px;

      .nav-link {
        padding: 4px;
        font-size: 1.2rem;
      }
    }
  }
  main {
    h1 {
      padding: 5px 5px 15px 5px;
      margin: 5px 5px 5px 5px;
      text-decoration: 1px solid;
      font-size: 45px;
    }
    .animacion {
      width: 100%;
      height: 401px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: #edbfc6;
      margin-bottom: 35px;

      .caja {
        width: 100%;
        height: 310px;

        img {
          width: 50%;
        }

        &__body {
          height: 165px;

          .p__index {
            font-size: 20px;
          }
        }
      }
    }

    .imagenes {
      height: 110rem;
      width: 80%;
      gap: 37px;
      margin: 7px 4px 6px 10px;
      padding: 1px;
      flex-direction: column-reverse;

      .caja {
        height: 500px;
      }
    }
    .videos {
      margin-left: 65px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
      height: 60rem;
      width: 80%;
      object-fit: fill;
    }
  }
  .main__contact {
    height: 50rem;
    width: 100%;

    .container-contact {
      margin: 5px 5px 15px 5px;
      width: 33rem;
      padding-right: 10px;

      p {
        font-size: 1rem;
      }
      .form-group {
        font-size: 1rem;
      }

      .btn {
        font-size: 1rem;
        height: 3rem;
        width: 4rem;
      }
    }
  }
  footer {
    margin: 9px;
    padding: 11px 9px 9px 9px;
    width: 100%;
    .copiright {
      p {
        margin-bottom: 0;
      }
    }
  }
  //reset imagenes paginas
  .col {
    .card {
      gap: 8px;

      img {
        height: 42rem;
      }
    }
  }
}

@media (min-width: 731px) and (max-width: 992px) {
  header {
    ul li {
      padding: 10px;
      margin: 11px;

      .nav-link {
        padding: 4px;
        font-size: 1.2rem;
      }
    }
  }
  main {
    h1 {
      font-size: 65px;
    }
    .animacion {
      width: 100%;
      height: 401px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: #edbfc6;
      margin-bottom: 35px;

      .caja {
        width: 100%;
        height: 310px;

        img {
          width: 50%;
        }

        &__body {
          height: 165px;

          .p__index {
            font-size: 20px;
          }
        }
      }
    }

    .imagenes {
      height: 121rem;
      width: 80%;
      gap: 55px;
      margin: 7px 4px 6px 25px;
      padding: 1px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .caja {
        height: 577px;
      }
    }
    .videos {
      margin-left: 96px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
      height: 80rem;
      width: 80%;
      object-fit: fill;
    }
  }
  .main__contact {
    height: 50rem;
    width: 100%;
    margin: 20px;

    .container-contact {
      margin: 5px 5px 15px 5px;
      width: 43rem;
      padding-right: 15px;

      p {
        font-size: 1.3rem;
      }
      .form-group {
        font-size: 1.2rem;
      }

      .btn {
        font-size: 1rem;
        height: 3.5rem;
        width: 4.5rem;
      }
    }
  }
  footer {
    margin: 10px;
    padding: 12px 10px 10px 10px;
    width: 100%;
    .copiright {
      p {
        margin-bottom: 0;
      }
    }
  }
  //reset imagenes paginas
  .col {
    .card {
      gap: 2px;

      img {
        height: 48rem;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {


  .col {
    .card {
      gap: 2px;

      img {
        height: 20rem;
      }
    }
  }





}

@media (min-width: 993px) and (max-width: 1200px) {


  .col {
    .card {
      gap: 2px;

      img {
        height: 20rem;
      }
    }
  }


}

@media (min-width: 800px) and (max-width: 992px) {
  .main__contact {
    height: 55rem;
    width: 100%;
    margin: 25px;

    .container-contact {
      margin: 6px 6px 17px 6px;
      width: 45rem;
      padding-right: 17px;

      p {
        font-size: 1.4rem;
      }
      .form-group {
        font-size: 1.3rem;
      }

      .btn {
        font-size: 1.1rem;
        height: 3.8rem;
        width: 4.8rem;
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  body {
    margin: 5px;
    padding: 5px;
  }

  header {
    margin: 10px;
    padding: 5px;
    ul li {
      padding: 4px;
      margin: 6px;

      .nav-link {
        padding: 5px;
        font-size: 1.7rem;
      }
    }
  }
  main {
    h1 {
      font-size: 66px;
    }
    .animacion {
      width: 100%;
      height: 401px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: #edbfc6;
      margin-bottom: 35px;

      .caja {
        width: 100%;
        height: 310px;

        img {
          width: 50%;
        }

        &__body {
          height: 165px;

          .p__index {
            font-size: 20px;
          }
        }
      }
    }

    .imagenes {
      height: 132rem;
      width: 80%;
      gap: 50px;
      margin: 7px 4px 6px 25px;
      padding: 1px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .caja {
        height: 600px;
      }
    }
    .videos {
      margin-left: 96px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
      height: 80rem;
      width: 80%;
      object-fit: fill;
    }
  }
  .main__contact {
    height: 50rem;
    width: 90%;
    margin: 20px;

    .container-contact {
      margin: 5px 5px 15px 5px;
      width: 59rem;
      padding-right: 15px;

      p {
        font-size: 1.3rem;
      }
      .form-group {
        font-size: 1.2rem;
      }

      .btn {
        font-size: 1rem;
        height: 3.5rem;
        width: 4.5rem;
      }
    }
  }
  footer {
    margin: 10px;
    padding: 12px 10px 10px 10px;
    width: 90%;
    .copiright {
      p {
        margin-bottom: 0;
      }
    }
  }
  
}
@media (min-width: 1025px) and (max-width: 1250px) {
  header {
    ul {
      li {
        margin: 4px;
        padding: 4px;

        .nav-link {
          font-size: 1.6rem;
        }
      }
    }
  }
  .col {
    .card {
      gap: 2px;

      img {
        height: 20rem;
      }
    }
  }

}
