//navbar 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    
    ul {
        text-align: center;
        align-items: flex-start;
        li {
            list-style: none;
            display: inline-block;
            padding: 15px;
            margin: 16px;
            text-decoration: solid;
            background-color: transparent;

            .nav-link {
                background-color: transparent;
                color: #14150a;
                padding: 15px;
                font-size: 1.9rem;
                text-decoration: solid;
                font-family:initial;
                font-weight: bold;

                &:hover {
                    background-color: #ba3971c6;
                    transition: 0.2s;
                    border: 3px solid #da9e1c81;
                    text-decoration: solid;
                    border-radius: 5px;
                  }
              }
          }
      }
    
  }

  img.logo {
    display: flex;
    height: fit-content;
    height: 10rem;
    width: 10rem;
    justify-content: space-between;
    align-self: flex-start;
    border-radius: 15px;
  }

