header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  ul {
    text-align: center;
    align-items: flex-start;
  }

  ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    margin: 16px;
    text-decoration: solid;
    background-color: transparent;
  }
  nav ul li a {
    background-color: transparent;
    color: #14150a;
    padding: 15px;
    font-size: 1.7rem;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  nav ul li a:hover {
    background-color: #b16a89;
    transition: 0.1s;
    border: 2px solid #373737;
    text-decoration: solid;
  }

  img.logo {
    display: flex;
    height: fit-content;
    height: 170px;
    width: 170px;
    justify-content: space-between;
    align-self: flex-start;
    border-radius: 25px;
  }
  .menu_nav {
    margin: 250px;
  }
}
